{% extends "base.html" %}

{% block title %}
Bienvenue! | Welcome!
{% endblock %}

{% block bodyclass %}home{% endblock %}

{% block content %}
<div class="row">
    <div class="tint"></div>
    <div class="container home-page-banner">
        <div class="module-content box">
            <div class="span12">
                <div class="landing-hero-intro-text">
                    <div class="intro-text supporting-text">Welcome to</div>
                </div>
                <h1 class="hero-text-heading heading">
                    Montreal Open Data
                </h1>
                <div class="hero-text-description secondary-heading">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <img
        class="home-page-hero"
        src="https://res.cloudinary.com/villemontreal/image/upload/f_auto,q_auto/v1/portail/j350sjrlsy18u2fjo6la.jpg"
        alt="La rue Laurier"
        title=""
        class="w-100"
    />
</div>


{% endblock %}
